:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.divWrapper {
  display: flex;
  align-items: center;
}

.image {
  width: 48px;
}

.name {
  font-weight: bold;
}

.divWrapper:hover .image {
  width: 96px;
}

.divWrapper:hover p {
  font-size: 32px;
}

.currentBtn {
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(119, 119, 119)
}

.navigationBtn {
  font-size: 18px;
}

.navigationBtn:active {
  background-color: rgb(119, 119, 119)
}

.prevNextBtn {
  font-size: 18px;
}

.prevNextBtn:active {
  background-color: rgb(119, 119, 119)
}
